
.wishlist-title{
  display: inline-block;
  margin-left: 30px;
}

.wishlist-products-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.wishlist-products{
  display: inline-block;
  width: 100%;
  justify-content: space-between;
}

.wishlist-product-card {
  position: relative; 
  display: inline-block;
  width: calc(25% - 5rem); 
  padding: 15px;
}


.product-img {
  width: 100%;
  border-bottom: 5px #fd7e14 solid;
}

.description-container {
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.description-box {
  padding: 1rem 1rem;
}

.description-box a {
  color: black;
  text-decoration: none;
}

.wishlist-btn {
  display: flex;
  justify-content: center;
}

.remove-from-cart {
  position: absolute;
  top: 25px; 
  right: 15px; 
  background: none;
  border: none;
}

.fas.fa-trash{
  color: gray;
}
.fas.fa-trash:hover{
  color:#df6c0e;
}

.add-to-cart{
  font-size: .8rem;
  font-weight: bold;
  color: #eee;
  width: 100%;
  padding: 0.8rem 0;
  background-color: #fd7e14;
  border: none;
  text-transform: uppercase;
}

.add-to-cart:hover {
  background-color: #ed7513;
  cursor: pointer;
}

/*Shopping Cart*/
.cart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}

.cart-content {
  padding: 1rem 4rem;
}

.cart-content h2{
  margin-left: 30px;
}

input[type="number"]{
  position:absolute;
  top:30%;
  left:70%;
  width:50px;
  height: 40px;
  font-size: large;
  margin: 5px;
  border: solid;
  border-color: rgb(154, 151, 151);
  border-radius: 3px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.cart-product-card img{
  width: 25%;
}

.cart-products-container{
  overflow-y: scroll;
  height:600px;
  display: flex;
  flex-direction: column;

}

.cart-product-card{
  position: relative;
  margin: 30px 0;
  border: 1px solid  rgb(214, 212, 212) ;
  /* border-color: rgb(214, 212, 212); */
  padding: 20px;
  flex: 55%;
  border: none;
  border-bottom: 1px solid rgb(214, 212, 212);
  /* box-shadow: 10px 10px 8px rgb(222, 219, 219); */
}

.description-box-cart{
  position: absolute;
  top:30%;
  left:40%;
  font-size: x-large;
  
}

.description-box-cart a{
  color: black;
  text-decoration: none;
}

.price-container{
  display: flex;
  flex-direction: column;
  flex: 35%;
  height: 40%;
  /* margin-top: 30px;
  margin-left: 30px; */
  /* margin: 0 2rem; */
  background-color: rgb(249 250 251);
  border-radius: 3px;
  padding: 15px;
  font-size: larger;
  box-shadow: 5px 4px 5px  rgb(230, 228, 228);
}

.price-container h2{
  margin-bottom: 30px;
  margin-left: 20px;
}

.shipping{
  margin: 20px;
}

.subtotal{
  margin: 20px;
}
.total{
  margin: 20px;
}
.checkout-btn{
  background-color: #fd7e14;
  font-size: larger;
  font-weight: bold;
  color: #eee;
  border: none;
  margin-top: 30px;
  border-radius: 3px;
  padding: 0.5rem 0;
}

.fa-times {
  color: #bfbfbf;
}

/*//////////////////////////////////////////*/
.checkout-content{
  padding:1rem 4rem;
}

.checkout-content h2{
  font-size: xx-large;
}
.checkout-container{
  display: flex;
  flex-direction: row;
  gap:10rem;
}

.checkout-content h2{
  display: inline-block;
}

.orders{
  overflow-y: scroll;
  height:400px;
}

.product-checkout-img{
  display: inline-block;
  width:20% ;
}

.checkout-products{
  display:flex;
  flex-direction: column;
}

.checkout-one-product{
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-products-details{
  font-weight: bold;
  margin-right: 30%;
  margin-top: 10%;
  
}
.shipping-details{
  margin-top: 2rem;
  flex:50%;
}

.your-order{
  flex:50%;
  margin-top: 2rem;

}
.your-order h4{
  margin-bottom: 1rem;
}

.checkout{
  margin-top: 4rem;
  background-color: rgb(249 250 251);
  border-radius: 3px;
  padding: 15px;
  box-shadow: 5px 4px 5px  rgb(230, 228, 228);
}

.checkout h5{
  font-size: x-large;
}

.checkout p{
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 0.6rem;
}

.address p{
  width:50%;
}
.p-address{
  border: none;
}

.address{
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.shipping-details h4{
  margin-top: 10px;
  margin-bottom: 1rem;
}

.shipping-details h6{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size:small;
}

.shipping-details input{
  width: 50%;
  height: 2rem;
}

#purchase-btn{
  margin-top: 5rem;
  width: 75%;
  justify-content: center;
  margin-left: 10%;
  height: 2.5rem;
  background-color: #fd7e14;
  font-size: larger;
  font-weight: bold;
  color: #eee;
  border: none;
}

#purchase-btn:hover{
  background-color: #ed7513;
  cursor: pointer;
}