/* Undo Button */
.undo-btn {
    background-color: #cc059a; /* Red */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.undo-btn:hover {
    background-color: #910085; /* Darker Red */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.undo-btn:focus {
    outline: none;
}

/* Optional: Adjust margin to your layout */
.undo-btn {
    margin: 0 auto; /* Centers the button horizontally */
    margin-top: 20px; /* Adds some space above the button */
}
.statistics-box {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

.statistics-content {
    display: flex;
    flex-wrap: wrap;
    transition: justify-content 5s ease;
}

.statistic{
    position: relative;
    margin: 10px;
    background-color: white;
    height:250px;
    width:300px;
    border: 1px solid #caa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-right: 50px;
}
.statistic:hover{
    background-color: rgba(220,220,220,0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.statistic:active
{
    background-color: rgb(100,220,100);
}
.statistic-icon {
    height: 50px;
    margin-bottom: 10px;
}
.statistic-icon-2 {
    height: 50px;
    display: inline-block;
}
.statistics-content-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50px;
    row-gap: 20px;
}
.statistic-2 {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    width: 250px;
    margin-right: 220px;
}

.statistic-2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.statistic-icon-2 {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.statistic-2-info {
    flex-grow: 1;
}

.statistic-2-info div {
    margin-bottom: 5px;
}

.statistic-2-info p {
    margin: 0;
    font-weight: bold;
    color: #333;
}
.piechart{
    width: 350px;
}
.graphs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: -100px;
}
.line-graph{
    width: 700px;
    height: 350px;
}
.graph-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 800px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.graph-line:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.graph-pie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-left: -100px;
    width: 450px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.graph-pie:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.delete-btn {
    position: absolute;
    top:5px;
    right:5px;
    background-color: transparent;
    color: gray;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c82333;
    color: white;
}

.delete-btn:focus {
    outline: none;
}
.green-button {
    background-color: limegreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 60px;
    width: 60px;
    margin-top: 35px;
    margin-left: -200px;
}

.green-button:hover {
    background-color: forestgreen;
}
.green-button:focus {
    outline: none;
}
a {
    text-decoration: none;
  }
  a:link, a:visited {
    color: purple;
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        max-width: 100%;
    }
    to {
        opacity: 0;
        max-width: 0;
        margin-right: 0;
        padding: 0;
    }
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
        max-width: 0;
        margin-right: 0;
        padding: 0;
    }
    to {
        opacity: 1;
        max-width: 100%;
    }
    
}

.fadeOut {
    animation: fadeOutAnimation 0.5s ease forwards;
}
.fadeIn {
    animation: fadeInAnimation 1s ease forwards;
}