
/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    background: #f9fafc;
}

/*      SIDEBAR     */
body {
    display: flex;
    flex-direction: row;    
}

.logo {
    text-decoration: none;
    color: #061538;
    font-size: 2rem;
    font-weight: 500;
}

.sidebar {
    background: rgb(255 255 255);
    border-right: 1px solid #71767f1e;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 14%;
    justify-content: space-between;
}

/*     TABS STYLING    */
.tabs-list-sidebar {
    list-style: none;
    padding: 1rem 0;
}

.tab-sidebar {
    padding: 1rem 0;
    position: relative;
}

.tab-sidebar:hover * { 
    color: #081f54; 
}

.tab-sidebar:hover .tab-link-sidebar::before, 
.tab-sidebar:focus .tab-link-sidebar::before,
.tab-sidebar:active .tab-link-sidebar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    width: 0.2rem; 
    height: 100%; 
    background-color: #081f54; 
}

.tab-link-sidebar {
    display: flex;
    align-items: center; 
    text-decoration: none;
    color: #71767f;
    padding-left: .2rem; 

}

.tab-txt-sidebar {
    padding-left: 1.2rem;
    line-height: 1.4; 
    font-size: 1.1rem;
    font-weight: 500;
}

.fas {
    font-size: 1.4rem;
    color: #71767f;
    width: 1.4rem; 
    text-align: center; 
}

/*  LOGOUT BUTTON   */
.logout-sidebar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center; 
    justify-content: center;
    gap: .6rem;
    background: #061538;
    border: none;
    margin-top: auto; 
}

.logout-text-sidebar {
    font-size: 1.1rem;
    font-weight: 500;
    color: #eee;
}

.logout-icon {
    color: #eee;
}

.logout-sidebar:hover {
    background: #081f54;
    cursor: pointer;
}

/*  NAVBAR     */
.admin-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 86%;
    background: rgb(255 255 255);
    border-bottom: 1px solid #71767f1e;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1.4rem;
    z-index: 10;
}

.admin-name {
    display: flex;
    flex-direction: col;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    background: #061538;
    color: #eee;
    border: none;
    font-size: 1.2rem;
    gap: 1rem;
}

.admin-name:hover {
    cursor: pointer;
}

.user-pfp {
    height: 1.4rem;
    width: 1.4rem;
    background: #eee;
}

.fa-bell {
    font-size: 1.2rem;
    padding: 0 .6rem;
    color: #061538;
}

.notif-btn {
    border: none;
    background: none;
}

.notif-btn:hover {
    cursor: pointer;
}

/* CONTENT*/
.content {
    flex: auto;
    padding-top: 3rem;
}

.admin-dashboard {
    background: #f9fafc;
    overflow-y: auto;
    padding: 4rem; 
    padding-left: 18%;
}


.page-title {
    color:#061538;
    font-size: 2.5rem;
}

.create-prod-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2rem;
    background: rgb(255 255 255);
    padding: 2rem;
    color: #061538;
}

.prod {
    font-size: 1.3rem;
    padding: .2rem .5rem;

    margin: 0;
    width: 50%;
}

.prod-name,
.prod-description {
    margin-bottom: 2rem;
    width: 100%;
}

.label-name,
.label-description {
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

.prod-submit {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background: #061538;
}

.prod-description {
    FONT-FAMILY: "IBM Plex Sans", sans-serif; 
}

.div-prod-price,
.div-prod-measure,
.div-prod-brand,
.div-prod-category,
.div-prod-stock,
.div-prod-buy-price,
.div-prod-bought-at,
.div-prod-material,
.div-prod-img {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
}

label {
    font-size: 1.1rem;
    font-weight: 500;
}

.label-other {
    margin: 0;
}

.prod-img {
    position: relative;
    overflow: hidden;
}

.label-other input[type="file"] {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    /* right: 0;
    top: 0; */
}

.label-other span {
    display: inline-block;
    padding: 8px 16px;
    background-color: #061538;
    color: #eee;
    cursor: pointer;
    text-transform: uppercase;
}

.label-other:hover span {
    background-color: #0a1f50;
}
